@import "modern-normalize.css";

@font-face {
  font-family: NorseBold;
  src: url(fonts/Norse-Bold.otf);
  font-weight: bold;
}

:root {
  --visual-width: 30rem;

  --dark-base-color: #24273a;
  --dark-crust-color: #181926;
  --dark-surface0-color: #292c3c;
  --dark-red-color: #e78284;
  --dark-blue-color: #81c8be;
  --dark-font-color: #c6d0f5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--dark-crust-color);
  color: var(--dark-font-color);
}

header {
  height: 4rem;
  background-color: var(--dark-surface0-color);
}

footer {
  height: 2rem;
  background-color: var(--dark-surface0-color);
}

main {
  flex: 1;
  min-width: 70rem;
  max-width: 90rem;
  max-height: 50rem;
  margin: auto;
  display: flex;
}

main > div.visual {
  width: var(--visual-width);
  background-image: url(img/petr-sevcovic-qE1jxYXiwOA-unsplash.jpg);
  background-size: cover;
  background-position: 33% 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-banner {
  margin-top: 11.9rem;
  width: var(--visual-width);
  height: 8rem;
  background-color: rgba(35, 38, 52, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  img {
    height: 8rem;
    filter: invert(81%) sepia(27%) saturate(367%) hue-rotate(194deg)
      brightness(98%) contrast(96%);
  }

  p {
    font-family: NorseBold;
    font-size: 5rem;
    color: var(--dark-font-color);
  }
}

.img-credit {
  text-align: center;
  background-color: rgba(35, 38, 52, 0.7);
  color: white;
  margin: 0;
  font-size: 0.9rem;
  padding: 0.2rem 0rem;

  a {
    color: white;
  }
}

main > form {
  flex: 1;
  background-color: var(--dark-base-color);
}

form > * {
  margin-left: 2.5rem;
}

div.top-text {
  width: 50ch;
  font-size: 1.5rem;
  margin-top: 10rem;
}

.fields {
  background-color: var(--dark-surface0-color);
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 2px -2px var(--dark-crust-color);
  margin-left: 0rem;
}

input {
  width: 30ch;
  height: 2rem;
  border-radius: 5px;
  background-color: var(--dark-surface0-color);
  border-color: var(--dark-crust-color);
  color: var(--dark-font-color);
}

label {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-left: 2px;
  margin-bottom: 2px;
}

.fields > div {
  display: flex;
  flex-wrap: wrap;
}

.fields > div > h2 {
  margin-left: 2.5rem;
}

.fields > div > div {
  display: flex;
  flex-direction: column;
  width: 30ch;
  margin: 1rem 2.5rem;
}

button {
  padding: 0.75rem 2rem;
  border-radius: 7px;
}

.create-account {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  background-color: var(--dark-blue-color);
  color: var(--dark-crust-color);
  font-weight: bold;
}

.login-link {
  margin-top: 0rem;
}

.login-link > a {
  font-weight: bold;
  color: var(--dark-blue-color);
}

footer {
  text-align: center;
  padding-top: 7px;
}

input:invalid {
  border: 2px solid var(--dark-red-color);
}

input:valid {
  border: 2px solid var(--dark-crust-color);
}

.no-validation:invalid {
  border: 2px solid var(--dark-crust-color);
}

a:hover,
button:hover {
  cursor: pointer;
}
