@import "modern-normalize.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 4rem;
  background-color: antiquewhite;
}

footer {
  height: 2rem;
  background-color: antiquewhite;
}

main {
  flex: 1;
  width: 60rem;
  margin: auto;
  display: flex;
}

main > div.visual {
  width: 20rem;
  background-color: blueviolet;
}

main > form {
  flex: 1;
  background-color: aquamarine;
}

form > div.fields {
  background-color: red;
}
