@import "modern-normalize.css";

@font-face {
  font-family: NorseBold;
  src: url(fonts/Norse-Bold.otf);
  font-weight: bold;
}

:root {
  --visual-width: 30rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 4rem;
  background-color: antiquewhite;
}

footer {
  height: 2rem;
  background-color: antiquewhite;
}

main {
  flex: 1;
  min-width: 70rem;
  max-width: 90rem;
  max-height: 50rem;
  margin: auto;
  display: flex;
}

main > div.visual {
  width: var(--visual-width);
  background-image: url(img/petr-sevcovic-qE1jxYXiwOA-unsplash.jpg);
  background-size: cover;
  background-position: 33% 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-banner {
  margin-top: 15rem;
  width: var(--visual-width);
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  img {
    height: 8rem;
  }

  p {
    font-family: NorseBold;
    font-size: 5rem;
    color: white;
  }
}

.img-credit {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0;
  font-size: 0.9rem;
  padding: 0.2rem 0rem;

  a {
    color: white;
  }
}

main > form {
  flex: 1;
  background-color: aquamarine;
  padding-left: 2.5rem;
}

div.top-text > p {
  width: 50ch;
}

form > div.fields {
  background-color: red;
}
